h1{
    text-align: center;
    Image
}



h2{
    
    text-align: center;

    color:black;
    font-size: 40px;
}
h3{
    color:green;
    font-size: 22px;
}
h4{
    color:green;
    font-size: 22px;
}
h5{
    color:green;
    font-size: 22px;
}
h6{
    color:green;
    font-size: 22px;
}
body{
    background-color:blanchedalmond;
}
p{
    color:black;
}